jupyter==1.0.0
requests==2.31.0
pandas==2.2.0
matplotlib==3.8.2
seaborn==0.13.2
plotly==5.18.0
PyPDF2==3.0.1
PyAutoGUI==0.9.54
folium==0.15.1
beautifulsoup4==4.12.3
pycoingecko==3.1.0
opencv-python==4.9.0.80
pytesseract==0.3.10
nltk==3.8.1
pillow==10.2.0
Mesa==1.1.1
Django==5.0.1
tensorflow==2.15.0
dash==2.15.0
Flask==3.0.2
scikit-learn==1.4.0
XlsxWriter==3.1.9
openpyxl==3.1.2
kaggle==1.6.4
tabulate==0.9.0
autopep8==2.0.4
pycodestyle==2.11.1
pylint==3.0.3
lxml==5.1.0
reportlab==4.0.9
flickrapi==2.4.0
pyarrow==15.0.0
wordcloud==1.9.3
requests-html==0.10.0
ipympl==0.9.3
agentpy==0.1.5
bokeh==3.3.4
paramiko==3.4.0
flask_wtf==1.2.1
Faker==23.1.0
xlwings==0.31.1
