jupyter
requests
pandas
matplotlib
seaborn
plotly
PyPDF2
pyautogui
folium
beautifulsoup4
pycoingecko
opencv-python
pytesseract
nltk
Pillow
mesa
django
tensorflow
dash
flask
scikit-learn
XlsxWriter
openpyxl
kaggle
tabulate
autopep8
pycodestyle
pylint
lxml
reportlab
flickrapi
Pyarrow


